<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio Internetowe</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

    <main>
        <h1>Radio Internetowe</h1>

        <div class="station-list">
            <form method="POST" action="/play">
                <label for="station">Wybierz stację:</label>
                <select name="station" id="station">
                    {% for station in stations %}
                        <option value="{{ station }}">{{ station }}</option>
                    {% endfor %}
                </select>
                <button id="play-button" type="submit">Odtwórz</button>
            </form>
        </div>

        {% if current_station %}
            <div class="current-station">
                Aktualnie odtwarzana stacja: <strong>{{ current_station }}</strong>
                <form method="POST" action="/stop">
                    <button type="submit" id="stop-button">Zatrzymaj</button>
                </form>
            </div>
        {% endif %}
    </main>

</body>
</html>
